extends user

block posts
    .row.margin-top-50
        .col-sm-12.col-md-8
            form#add-post.form-horizontal(action="/admin/profile/" + id + "/addpost", method="post", enctype="multipart/form-data")
                #alert-message.form-group.hidden
                    .col-sm-9.col-sm-offset-3
                        p.alert
                            button#close-alert-message.close(type="button") &times;
                .form-group
                    label.col-sm-3.control-label Upload images
                    .col-sm-9
                        .input-group
                            label.input-group-btn.upload-files
                                label.btn.btn-primary(for="upload-post-preview") Browse
                                input#upload-post-preview(type="file", name="uploadPostPreview", required, multiple="multiple")
                            input#image-names.form-control(type="text", disabled)
                .form-group
                    label.col-sm-3.control-label(for="post-title") Title
                    .col-sm-9
                        input#post-title.form-control(type="text", name="title", required)
                .form-group
                    label.col-sm-3.control-label(for="post-label") Label
                    .col-sm-9
                        input#post-label.form-control(type="text", name="label", required)
                .form-group
                    label.col-sm-3.control-label(for="post-text") Text
                    .col-sm-9
                        textarea#post-text.form-control(required, name="text", rows=5)
                .form-group
                    .col-sm-9.col-sm-offset-3
                        button.btn.btn-success(type="submit") Add post