extends ../layout

block content
  form#delete-user.login-form(method="post")
    h2= title
    if (hasErr)
      .error-alert= error
    if (hasSuccess)
      .success-alert= success
    .input-wrap
      label(for="email") Email: 
      input(type="email", name="email", id="email" required)
    button.btn(type="submit") Submit
    
    
