extends ../layout

block content
  form#register.login-form(action="post")
    h2= title
    .input-wrap
      label(for="email") Email: 
      input(type="email", name="email", id="email" required)
    .input-wrap
      label(for="password") Password: 
      input(type="password", name="password", id="password" required)
    
    
