//  ----  VARS  ----
$main_border_color: #ddd;
$shadow_075: rgba(0,0,0,.075);
$main-bg-color: #337ab7;

.input-form {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 600px;
    max-width: 100%;
    transform: translate(-50%, -50%);
}

.avatar {
    max-height: 200px;
}

.upload-files {
    overflow: hidden;
    > input[type="file"] {
        display: none;
    }
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.margin-top-50 {
    margin-top: 50px;
}

.margin-top-25 {
    margin-top: 25px;
}

.post__img-wrap {
    margin-left: 50px;
    margin-right: 50px;
}

.post__preview {
    max-height: 400px;
    + .post__preview {
        margin-left: 20px;
    }
}

.post__btns {
    button + button {
        margin-left: 10px;
    }
}

.slick-prev, .slick-next {
    width: 40px;
    height: 40px;
    &:before {
        font-size: 40px;
        color: $main_border_color;
    }
}

.slick-prev {
    left: -45px;
}

.slick-next {
    right: -45px;
}

.label-btn {
    min-width: 100px;
}

.loader {
    width: 100px;
    height: 100px;
    margin: 20px auto;
    border: 15px solid $main-border-color;
    border-radius: 100%;
    border-top-color: $main-bg-color;
    border-bottom-color: $main-bg-color;
    animation-name: spin;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.img-wrap {
    img {
        height: 250px !important;
        margin-left: auto;
        margin-right: auto;
    }
    .carousel-caption {
        top: 0;
        bottom: inherit;
        padding-top: 0;
    }
}