.login-form {
  position: absolute;
  top: 50%;
  left: 50%;
  border: 1px solid #000;
  padding: 50px;
  transform: translate(-50%, -50%);
}

.btn {
  margin-top: 25px;
}

.error-alert {
  color: #f00;
}
