mixin changeAvatar
    #change-avatar.modal.fade(tabindex="-1", role = "dialog")
        .modal-dialog(role="document")
            form.modal-content(action="/admin/profile/" + id + "/uploadavatar", method="post", enctype="multipart/form-data")
                .modal-header
                    button.close(type="button", data-dismiss="modal", aria-label="Close")
                        span(aria-hidden="true") &times;
                    h2 Change avatar
                .modal-body
                    .input-group
                        label.input-group-btn.upload-files
                            label.btn.btn-primary(for="upload-avatar") Browse
                            input#upload-avatar(type="file", name="uploadAvatar")
                        input.form-control(type="text", disabled)
                .modal-footer
                    button.btn.btn-success(type="submit") Submit

mixin changePersonalData
    #change-personal-data.modal.fade(tabindex="-1", role = "dialog")
        .modal-dialog(role="document")
            form.modal-content(action="/admin/profile/" + id + "/changeInfo", method="post")
                .modal-header
                    button.close(type="button", data-dismiss="modal", aria-label="Close")
                        span(aria-hidden="true") &times;
                    h2 Change personal data
                .modal-body.form-horizontal
                    .form-group
                        label.col-sm-2.control-label(for="name") Name
                        .col-sm-10
                            input#name.form-control(type="text", name="name", value=name, required)
                    .form-group
                        label.col-sm-2.control-label(for="email") Email
                        .col-sm-10
                            input#email.form-control(type="email", name="email", value=email, required)
                .modal-footer
                    button.btn.btn-success(type="submit") Submit

mixin changePassword
    #change-password.modal.fade(tabindex="-1", role = "dialog")
        .modal-dialog(role="document")
            form.modal-content(action="/admin/profile/" + id + "/changePassword", method="post")
                .modal-header
                    button.close(type="button", data-dismiss="modal", aria-label="Close")
                        span(aria-hidden="true") &times;
                    h2 Change password
                .modal-body.form-horizontal
                    .form-group
                        label.col-sm-4.control-label(for="old-password") Old password
                        .col-sm-8
                            input#old-password.form-control(type="password", name="oldPassword", required)
                    .form-group
                        label.col-sm-4.control-label(for="new-password") New password
                        .col-sm-8
                            input#new-password.form-control(type="password", name="newPassword", required)
                    .form-group
                        label.col-sm-4.control-label(for="confirm-new-password") Confirm new password
                        .col-sm-8
                            input#confirm-new-password.form-control(type="password", name="confirmNewPassword", required)
                .modal-footer
                    button.btn.btn-success(type="submit") Submit