mixin navigation
    nav.navbar.navbar-default
        .container-fluid
            .navbar-header
                button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#navbar-collapse", aria-expanded="false")
                    span.sr-only Toggle navigation
                    each i in [0, 1, 2]
                        span.icon-bar
                a.navbar-brand(href="/") Brand
            #navbar-collapse.collapse.navbar-collapse
                ul.nav.navbar-nav.navbar-right
                    li.dropdown
                        a.dropdown-toggle(href="#", data-toggle="dropdown", role="button", aria-haspopup="true", aria-expanded="false") #{email} &nbsp;
                            span.caret
                        ul.dropdown-menu
                            li
                                a(href="/admin/profile/" + id + "/posts") Posts list
                            li
                                a(href="/admin/profile/" + id + "/addpost") Add post
                            li
                                a(href="/admin/logout") Logout
                    li(class=title === "Registration" ? "active" : "")
                        a(href="/admin/register") Register user
                    li(class=title === "Delete user" ? "active" : "")
                        a(href="/admin/deluser") Delete user